
.beerlist{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px 40px 0px;
}
.title{
  padding-top: 40px;
  text-align: center;
  font-size: 84px;
  font-weight: bold;
  color: rgb(187, 153, 67)
}
.App{
  background-color:  rgba(36, 35, 43, 0.945);
  margin: 1%;
  font-family: monospace;
}